[Unit]
Description=First time provision for VM cloning

[Service]
Type=oneshot
ExecStart=/usr/share/vmcli/firstboot-provision.sh

[Install]
WantedBy=multi-user.target
