NAME="${INTERFACE}"
DEVICE="${INTERFACE}"
IPADDR="${ADDRESS}"
PREFIX="${CIDR}"
GATEWAY="${GATEWAY}"
UUID="${UUID}"
ONBOOT="yes"
TYPE="Ethernet"
BOOTPROTO="none"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="no"
IPV6INIT="no"
